.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#1C2B35 ;
    height: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.navbar a{
    text-decoration: none;
    font-size: 17px;
    margin-right: 32px;
}
.navbar a:hover{
    color: orange;
}
.active {
    color: orangered;
}
.inactive a{
    color: black;
}